.sideBar {
  // padding-top: 0;
}

.c3-chart-line.c3-target.c3-target-Best {
  stroke-dasharray: 2;
}
.c3-chart-line.c3-target.c3-target-Worst {
  stroke-dasharray: 2;
}

.c3-circle-0 {
  fill: blue !important;
}

.grid-alert line {
  stroke: red;
}

.grid-alert text {
  fill: red;
}

.ui.segment.payment-in {
  .dividing.header {
    color: green;
    border-bottom-color: green;//rgb(170, 230, 180);
    border-bottom-width: 2px;
  }
  // background-color: rgba(170, 230, 180, 1);
}

.ui.segment.payment-out {
  .dividing.header {
    color: red;
    border-bottom-color: red;//rgb(170, 230, 180);
    border-bottom-width: 2px;
  }
  // background-color: rgba(170, 230, 180, 1);
}

.payments-placeholder {
  text-align: center;
  font-size: 1.1rem;
}
