// stub scss file
.segment.manual-line {
  padding: 0px;
}

.cff-lines {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.json-editor-container {
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 1px;
  // .json-editor.ace_editor {
  //   background-color: rgba(255, 255, 255, .8);
  //   .ace_gutter {
  //     background-color: rgba(0, 0, 0, .9);
  //   }
  // }
}
